@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* .sideBar{
    width: 20%;
    height: 100vh;
    box-shadow: 0px 0px 40px 0px rgb(115, 113, 113);

} */

.sideBar h1,
.font {
  /* text-align: center;
    padding-top: 10%; */
  font-family: "Lobster", sans-serif;
  /* font-size: 40px; */
}
.sideBar h3,
.fontt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-size: 22px;
    padding-left: 15%;
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 10%;
    font-weight: bold;
    background-image: linear-gradient(to right, #9cd0dc , white); */
}

body {
  background-image: linear-gradient(
    to right,
    #afe2e6b6,
    rgba(184, 200, 205, 0.799)
  );
}

.categoryList {
  /* margin-top: 25px; */
  font-family: "Franklin Gothic", sans-serif;
  /* font-size: 19px; */
}

/* .eachCategory{
    margin-bottom: 15px;
} */

.eachCategory:hover {
  background-image: linear-gradient(
    to right,
    #afe2e6b6,
    rgba(184, 200, 205, 0.799)
  );
}

/* .eachCategory.selected {
    background-image: linear-gradient(to right, #e0cee6 , white);
} */

/* .mainContent{
    width: 80%;
} */

/* .wholeContent{
    display: flex;
} */

/* .mainContent h1{
    padding-left: 7%;
    padding-top: 3%;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
} */

.taskList {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-size: 20px; */
  /* padding-left: 5%; */
}

.todoImage {
  /* height: 300px;
    width: 300px;
    position: absolute; */
  margin-left: 40%;
  margin-top: -10%;
}

/* .task{
    border: 2px solid whitesmoke;
    width: 80%;
    height: 85px;
    padding: 10px;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 10px 10px 10px 0px rgb(115, 113, 113);
} */

/* .task{
    border: 2px solid whitesmoke;
    width: 80%;
    height: 110px;
    padding: 10px;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 10px 10px 10px 0px rgb(115, 113, 113);
} */

/* .tablee{
    width: 1210px;
    background-image: linear-gradient(to right, #e0cee6 , white);
    box-shadow: 10px 10px 10px 0px rgb(115, 113, 113);
} */

/* .todoEdit{
    background-color: red !important;
} */

.modelStyle {
  /* width: 300px;
    height: 150px;
    text-align: center;
    padding: 2%;
    border-radius: 20px; */
  background-image: linear-gradient(to right, #a496a7, rgb(200, 196, 196));
}

/* .editTask{
    position: absolute;
    margin-top: -2%;
    margin-left: 9%;
} */

.flashMessage.error {
  background-image: linear-gradient(to right, #e82121, rgb(232, 106, 106));
}

.flashMessage {
  background-image: linear-gradient(to right, #0ac13e, rgb(59, 165, 80));
  width: 300px;
  color: white;
  font-weight: bold;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80%;
  margin-top: -10%;
  position: fixed;
  float: right;
}

.flashMessage .success {
  background-image: linear-gradient(to right, #0ac13e, rgb(59, 165, 80));
}

.flashMessage .warn {
  background-image: linear-gradient(to right, #dce805, rgb(203, 198, 45));
}
