@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.sideBar h1,
.font {
  font-family: "Lobster", sans-serif;
}
.sideBar h3,
.fontt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: linear-gradient(
    to right,
    #afe2e6b6,
    rgba(184, 200, 205, 0.799)
  );
}

.categoryList {
  font-family: "Franklin Gothic", sans-serif;
}

.eachCategory:hover {
  background-image: linear-gradient(
    to right,
    #afe2e6b6,
    rgba(184, 200, 205, 0.799)
  );
}

.taskList {
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
}

.todoImage {
  margin-left: 40%;
  margin-top: -10%;
  float: right;
}

.modelStyle {
  background-image: linear-gradient(
    to right,
    #447c81b6,
    rgba(129, 144, 148, 0.799)
  );
}

.flashMessage.error {
  background-image: linear-gradient(to right, #e82121, rgb(232, 106, 106));
}

.flashMessage {
  background-image: linear-gradient(to right, #0ac13e, rgb(59, 165, 80));
  width: 300px;
  color: white;
  font-weight: bold;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 82%;
  margin-top: -8%;
  position: fixed;
  float: right;
  z-index: 10;
}

@media (max-width: 1600px) {
  .flashMessage {
    margin-top: -10%;
    margin-left: 77%;
  }
}

.flashMessage.success {
  background-image: linear-gradient(to right, #0ac13e, rgb(59, 165, 80));
}

.flashMessage.warn {
  background-image: linear-gradient(to right, #797d2d, rgb(203, 198, 45));
}
